<div class="row">
<% if signed_in? %>
	<div class="col-md-8 col-md-offset-2 ">

		
		<img class="thumbnail"><%= image_tag(@photo.avatar_url(:big)) if(@photo.avatar) %></img>
		<p><%= @photo.kinds %></p>
		<p><%= link_to "删除照片", @photo,method: :delete, class: "btn btn-primary "%></p>
	</div>
	</div>
	<div class="col-md-2"></div>
<% end %>
</div>
